<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Google font Roboto -->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
    rel="stylesheet"
  />

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link rel="stylesheet" type="text/css" href="/style.css" />
  <title>Easy Dog Training</title>
</head>

<body>
  <div class="top-container">
    <div class="logo-container">
      <img src="/easydog new logo.png" alt="Logo" />
    </div>
    <div class="topnav" id="myTopnav">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/whyEasyDog">Why Easy Dog</a>
      <a href="/testimonials">Testimonials</a>
      <a href="/services">Services</a>
      <a href="#">Contact</a>
    </div>
  </div>
</body>
