<header><%- include ("../partials/header.ejs") %></header>
<div class="header-img">
  <img src="/bulldog-min.jpg" alt="" />
</div>
<div class="main-div">
  <h3>About Easy Dog</h3>
  <div class="welcome-text text-container">
    <p>
      <img src="/nirAndRobbie-min.jpg" alt="Nir and his Dog Robbie" />
      My name is Nir and I am owner and trainer at Easy Dog Training. I have
      been training dogs for a long time. I trained my first dog, the family
      cocker spaniel, as a child, using an instructional book on dog training
      and it soon became apparent that he was easily able to go beyond what the
      book had to offer. My fascination with this kind of cross species
      cooperation has never dwindled since, driving me to learn as much as I
      possibly could about dogs, how to care for them, how to train them and how
      to modify their behaviour.  ​ In a period now spanning over forty years I
      was fortunate to work with dogs in many different places around the world,
      engaging in competitive, institutional and civilian dog training and dog
      behaviour correction. 
    </p>
  </div>
</div>
