<header><%- include ("../partials/header.ejs") %></header>
<div class="header-img">
  <img src="/australian-shepherd-min.jpg" alt="" />
</div>
<div class="main-div">
  <h3>Get In Touch</h3>
  <div class="message"><%- include ("../partials/messages") %></div>

  <div class="contact-text text-container selector">
    <div id="contact">
      <form method="POST" action="/contact">
        <div class="form-field>">
          <label>Name</label><br />
          <input class="input-field" type="text" name="name" required />
        </div>
        <div class="form-field">
          <label>Email </label>
          <br />
        </div>
        <input class="input-field" type="email" name="email" required />
        <div class="form-field">
          <label>Message</label><br />
          <textarea name="message" rows="8" required></textarea>
        </div>
        <p>
          <button type="submit">Submit</button>
        </p>

        <h3>Or Call <a href="tel:07525 364697">07525 364697</a></h3>
      </form>
    </div>
  </div>
</div>

<div><%- include ("../partials/footer.ejs") %></div>

<!-- Lax.js -->
<!-- <script src="https://cdn.jsdelivr.net/npm/lax.js"></script>
<script>
  window.onload = function () {
    lax.init();

    // Add a driver that we use to control our animations
    lax.addDriver("scrollY", function () {
      return window.scrollY;
    });

    // Add animation bindings to elements
    lax.addElements(".selector", {
      scrollY: {
        translateY: [
          [0, 200],
          [0, -100],
        ],
      },
    });
  }; -->
</script>
