<header><%- include ("../partials/header.ejs") %></header>
<div class="header-img">
  <img src="/dwarf-griffon-min.jpg" alt="" />
</div>
<div class="main-div">
  <h3>Get In Touch</h3>
  <div class="message"><%- include ("../partials/messages") %></div>

  <div class="contact-text text-container">
    <div id="contact">
      <form method="POST" action="/contact">
        <div class="form-field>">
          <label>Name</label><br />
          <input class="input-field" type="text" name="name" required />
        </div>
        <div class="form-field">
          <label>Email </label>
          <br />
        </div>
        <input class="input-field" type="email" name="email" required />
        <div class="form-field">
          <label>Message</label><br />
          <textarea name="message" rows="8" required></textarea>
        </div>
        <p>
          <button type="submit">Submit</button>
        </p>

        <h3>Or Call <a href="tel:07525 364697">07525 364697</a></h3>
      </form>
    </div>
  </div>
</div>
