<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <!-- Favicon -->
<link rel="apple-touch-icon" sizes="57x57" href="/logoapple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/logoapple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/logoapple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/logoapple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/logoapple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/logoapple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/logoapple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/logoapple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/logoapple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/logoandroid-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/logofavicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/logofavicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/logofavicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
    <!-- Google font Roboto -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/style.css" />

    <title>Easy Dog Training</title>
</head>
<body>
  
</body>
</html>  <body>
  <div class="smooth-scroll">
    <header>
      <div class="header-container">
      <div>
        <!-- TEMP -->
      <%- include ("../partials/header.ejs") %>
      </div>
    </header>
    </div>
      <!-- TEMP -->
      <div class="header-img">
        <img src="/viszla full.jpg" alt="" />
      </div>
    </div>
    <div class="main-div">
      <h3>Welcome To Easy Dog Training</h3>
      <div class="welcome-text text-container">
        <p>
          Training your puppy or dog should not be stressful or particularly
          difficult, but you want it to make a real difference and set the tone
          for a lifetime of enjoyable and relaxed companionship. You don't need
          to become a dog trainer to achieve excellent results, but a clear
          understanding of basic principles and techniques, together with
          avoidance of common misconceptions, will go a long way.
        </p>
      </div>
    </div>
    </div>

    <script>
      function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
          x.className += " responsive";
        } else {
          x.className = "topnav";
        }
      }

    </script>
  </body>
</html>
