<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <!-- Favicon -->

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
    <!-- Google font Roboto -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/style.css" />


    <title>Easy Dog Training</title>
</head>
</html>  
<body>
    <header>
      <div class="header-container">
      <div>
        <!-- TEMP -->
      <%- include ("../partials/header.ejs") %>
      </div>
    </header>
      <div class="header-img">
        <img src="/viszla full-min-2.jpg" alt="" />
      </div>
    <div class="main-div">
      <h3>Welcome To Easy Dog Training</h3>
      <div class="welcome-text text-container selector">
        <p>
          Training your puppy or dog should not be stressful or particularly
          difficult, but you want it to make a real difference and set the tone
          for a lifetime of enjoyable and relaxed companionship. You don't need
          to become a dog trainer to achieve excellent results, but a clear
          understanding of basic principles and techniques, together with
          avoidance of common misconceptions, will go a long way.
        </p>
      </div>
    </div>
    </div>
<div class="footer-container">
        <%- include ("../partials/footer.ejs") %>
</div>
          <!-- Lax.js -->
<script src="https://cdn.jsdelivr.net/npm/lax.js" ></script>
    <script>
window.onload = function () {
    lax.init()

    // Add a driver that we use to control our animations
    lax.addDriver('scrollY', function () {
      return window.scrollY
    })

    // Add animation bindings to elements
    lax.addElements('.selector', {
      scrollY: {
        translateY: [
          [0,200],
          [0,-100]
        ],
      }
    })
  }    </script>
  </body>
</html>
