<header><%- include ("../partials/header.ejs") %></header>
<div class="header-img">
  <img src="/nova-scotia-duck-tolling-retrieverjpg-min.jpg" alt="" />
</div>
<div class="main-div">
  <h3>Services</h3>
  <div class="services-text text-container selector">
    <ul id="services-list">
      <li class="bullet">Aggression Intervention</li>
      <li class="bullet">Creating A Total, Full-Proof Recall</li>
      <li class="bullet">Basic, Intermidiate and Advnaced obedience</li>
      <li class="bullet">Puppy Training</li>
    </ul>
    <p>
      Please note that <strong><u>at Easy Dog I tend not to work in classes</strong></u>. This is based on many years of experience. Dogs and their owners are all unique individuals, with different problems and capabilities. There is nothing wrong with classes if you are just looking to have a bit of fun with you dog. They offer a good platform for meeting other dogs and their owners. But when it comes to practical results, classes tend to produce insignificant results. Because of  different types, characters, levels and natural aptitude of dogs and their owners it is very difficult to get any real value and obtain the tools that are needed for establishing a good basis for practical obedience in a group environment. When it comes to resolving issues and providing proper, efficient guidance, <strong><u>at a fraction of the time and the cost, one-on-one sessions are, in my view, far better in getting good results at a very short time</strong></u>.  
    </p>
    <p>
      I normally prefer to work at cleints' residence as it tends to provide better results. After all, for the most part it is where you are experiencing difficulties or where you need assistance the most. 
Rates depend on largely on the issue your dog requires help with. <strong><u>Most problems can be fixed in a single session</strong></u>. 
You are welcome to call for a no-obligation, informal chat. 
    </p>
    <h4 id="call-now">Call Now on 07525 364697 or <br> Email info@easydog.co.uk</h4>
</div>  
</div>

          <!-- Lax.js -->
<script src="https://cdn.jsdelivr.net/npm/lax.js" ></script>
    <script>
window.onload = function () {
    lax.init()

    // Add a driver that we use to control our animations
    lax.addDriver('scrollY', function () {
      return window.scrollY
    })

    // Add animation bindings to elements
    lax.addElements('.selector', {
      scrollY: {
        translateY: [
          [0,200],
          [0,-100]
        ],
      }
    })
  }    </script>
