<header><%- include ("../partials/header.ejs") %></header>
<div class="header-img">
  <img src="/puppy-1903013-min.jpg" alt="" />
</div>
<div class="main-div">
  <h3>What Clients Say</h3>
  <div class="text-container">
    <p>
<!-- Testimonial 1 -->
            <img class = "test-image" src="/Lewis-min.jpg" alt="Sitting black labrador">

      Hi Nir, <br>
Lewis and I came to see you a couple of months ago for a training session with Levi. We want to say thank you so much!
The techniques you taught us relating to lead walking and most importantly recall have been so powerful. We practised the recall technique in the woods at the back of our house, which was a perfect setting, and we could see the results from the first time! We then practised with distractions and when we were confident enough went further afield to busier places. Now we can go anywhere! We find we don't have to call him very often! But we feel safe in the knowledge that he responds instantly to his name and runs back like his life depended on it! 
Your training has given us and Levi so much happiness for him to run around free in the woods or at a park and such less stress for both of us by him not pulling if he's on the lead. I look and talk to other people with pups and dogs who don't have what we have and I find myself feeling rather smug! And also a little confused as to why they don't take action to address it. 
I personally think your training should come as mandatory to dog ownership! I see people flog away at the positive reinforcement training or puppy classes - I saw a FB comment recently saying it's been 9 months doing lead training but they weren't giving up. Ridiculous, and that could have been us! I hope you reach a lot of dog owners Nir - they need you!! I've been talking about you to everyone!
    </p>
<p class="sign"> <i> Jen & Lewis Sneddon </i></p> <br>
</div>

<div class="test-container">
<!-- Testimonial 2 -->
    <p class="test-text">
            <img class = "test-image" src="/Gaya-min.jpg" alt="woman and wolf-like dog">

“You may have seen the Dog Whisperer on TV. Well this man is better. Nir's knowledge and skill in training dogs is second to none and is truly amazing. He has the ability to tailor a training program to the specific needs of you and your dog, be it that you're just looking for an obedient pet or to go into the show ring. Gaia used to pull me everywhere but after a couple of lessons with Nir, she walks perfectly to heel. Gaia and I are now working towards taking part in obedience competitions and with Nir's guidance I know we're both going to do well.”

   </p>
<p class="sign"> <i> Seonaid Cooper  </i></p> <br><br><br>
</div>

<div class="test-container">
<!-- Testimonial 3 -->
    <p class="test-text">
            <img class = "test-image" src="/Blond girl and schnauzer-min.jpg" alt="Blond girl and schnauzer puppy">

“I contacted Nir after it be came apparent that while we were able to see eye to eye on most things recall was not one of them. Monza just wanted to play with every dog in the park. Thanks to Nir's patience with me and understanding of Monza we were able to come to an agreement: my way is the right way. It has totally changed our relationship and has opened us up to many happy adventures.”

   </p>
<p class="sign"> <i> Emily, Edinburgh  </i></p> <br>
</div>

<div class="test-container">
<!-- Testimonial 4 -->
    <p class="test-text">
            <img class = "test-image" src="/Kirkliston dog-min.jpg" alt="Older lady and a large white cross-breed dog">

My lab cross Reggie is adorable but he is a big strong lad and walks were becoming a nightmare, with him pulling me and leaping at other dogs.
A local dog owner suggested that I try Nir to correct Reggie's behaviour,  and I am glad that I did.
It was very relaxing, there was no pressure and Nir adjusts the training to suit Reggie and me.
People I meet now on my walks are astonished at the difference in Reggie and I can't thank Nir enough!!”

   </p>
<p class="sign"> <i> Mary Stewart </i></p> <br>
</div>

<div class="test-container">
<!-- Testimonial 5 -->
    <p class="test-text">
            <img class = "test-image" src="/Craig and River-min.jpg" alt="Man crouching next to spaniel">

“Our dog Reiver is a typical cocker spaniel being so full of mischief and energy. After only a couple of lessons with Nir, Reiver still has this boundless enthusiasm, but I can now control him in every environment, including allowing him off the lead on long walks easy in the knowledge that he will come to my call. Nir’s understanding of dogs is amazing and his training methods are simple and easy to implement, whilst also very effective.”

   </p>
<p class="sign"> <i> Craig Bryen </i></p> <br>
</div>

<div class="test-container">
<!-- Testimonial 6 -->
    <p class="test-text">
            <img class = "test-image" src="/Izabelle-min.jpg" alt="Woman with two large dogs by her side">

“I was fast becoming despondent as a growing and ever more powerful 17 month old Rugs was challenging my ability to be in control.  After months of being pulled and dreading our daily walks I had  convinced myself that despite having successfully owned and handled a number of dogs in my lifetime, I was no match for my lovable Briard boy, or so I thought!  
According to Nir one or two lesson’s would fix the issue out.  Not convinced, but hopeful, I turned up for lesson one and to my utter amazement and joy Nir was true to his word.  By the end of the session Rugs was not only walking to heel but continued to do so off lead...wow! His correction technique and excellent tutoring have together resulted in me feeling much more in control of my dog... an inspiring and empowering experience.

   </p>
<p class="sign"> <i> Isobel Denholm </i></p> <br>
</div>

<div class="test-container">
<!-- Testimonial 7 -->
    <p class="test-text">
            <img class = "test-image" src="/Louise and Tuli-min.jpg" alt="Woman and border collie on the beach next to a bridge">

“I was at a loose end with my new rescue dog both in terms of training her and the day care whilst I was at work. I was then recommended Nir by a friend. His approach was extremely supportive and professional and soon both owner and dog’s mind were put at ease and the training has made a huge difference to her behaviour at home as well.  Thank you!”
   </p>
<p class="sign"> <i> Louise Ramsay </i></p> <br>
</div>

<div class="test-container">
<!-- Testimonial 8 -->
    <p class="test-text">
            <img class = "test-image" src="/Stella-min.jpg" alt="Man crouching next to his border collie">

“Hi, my name is Stella. I`m a border collie and have just turned 4 years old. I live with David and Jane. David and Jane took me in to their home when I was 3. I was very nervous and certain noises and sudden bangs made me scared. I felt like I want to run away and hide. The noises made me pull on the lead, they would freak me out and I would scramble and scrabble along the ground. When I first met Nir he quickly understood my problems. He was able to give David and Jane some tips, exercises and advice on the best way to help me.  Although I still have a little way to go,  I am a lot more settled when walking, and I am now allowed some time running and playing off the lead. Most of that is down to Nir and I really appreciate the help and support that he provided. It has helped to make me a more happy and contented  dog and pet. know that David and Jane are delighted with the help. any, many  thanks Nir.”   
       </p>
<p class="sign"> <i> David, Jane and Stella </i></p> <br>    </p>
  </div>
</div>
