<header><%- include ("../partials/header.ejs") %></header>
<div class="header-img">
  <img src="/cocker-min.jpg" alt="" />
</div>
<div class="main-div">
  <h3>Why Easy Dog</h3>
  <div class="welcome-text text-container selector">
    <p>
If I happen to go to the park nowadays, I am struck by how different things have become in terms of dog ownership and training. <strong><u>With very few exceptions, people simply have no real control over their dogs</strong></u>.  None whatsoever. You can have a big dog, covered in mud, bounding towards you and your dog, and you can see exactly what is about to happen: you are both going to need a bath when you get home... At the same time the owner stands in the distance and shouts: "That's fine; she doesn't do anything", or something to that effect. No one there, not the owner, not you, nor anyone else watching, really has any expectation that the owner would be able to stop his or her dog from running towards you or jumping all over you. 
<br><br>
The fact is that this kind of control hardly exist these days. <strong><u>Dogs don't really listen anymore. They perform tricks, disguised as obedience, but real control is non-existent</strong></u>.  Unfortunately, it does not stop there. Take a look at an article from the British Veterinary Association website: <strong> <u> 'Survey reveals 98% of vets asked to euthanise healthy pets'</strong></u>. Basically, countless dogs, many more than ever before, are being put down due to behavioural problems, aggression for the most part. The article concludes that this happens due to lack of socialisation, but this cannot possibly be true. We socialise our dogs more than ever before. There are dogs everywhere in the parks and streets. Dog day cares, dog walking businesses and dog activity groups spring up like mushrooms after the rain. <strong><u> Dog socialisation can not be the reason for this dramatic rise in the need to euthanise healthy dogs</strong></u>.  So, what is happening? 
​<br><br>
The answer is a simple one: <strong> <u>We no longer, as a matter of principle, correct the behaviour of dogs</strong></u>. It is a big no-no in almost all dog-world circles. The general view is that correcting dogs is unloving, perhaps even cruel. Of course, for the most part, every dog owner to their own. Different people will hold different opinions, and by-in-large, this is fine. The problem is that in so far as the education, practical training and behaviour correction of dogs is concerned, <strong> <u>the result is catastrophic</strong></u>. Imagine, if you will, a world where we do not correct children at all, and once they become teenagers, if they do not behave properly, we simply dispose of them in some hideous way. Sounds terrible? Of course it does, and this is exactly what we do with dogs, under the guise of care. We love them so much that we do not correct them, and then so many end up needing to be euthanised. <strong><u>Of course, chances are that your dog is simply disobedient, rather than aggressive, and that there is absolutely no risk of your dog coming to any harm. But the reason is the same: your dog was simply never made to be obedient. It was only taught some tricks, labelled as obedience</strong></u>. 
<br><br>
The remarkable thing is that, while the nonsensical concept of 'Ignore Bad Behaviour - Reward Good Behaviour' that is so prevalent in the world of dog training and behaviour has originated from child psychology, we do tend to accept the need to teach children the consequences of their actions. So schools still use methods such as detention to ensure proper behaviour in the classroom, and parents sometimes resort to other negative consequences in order to teach their children that certain types of behaviour are simply unacceptable. These kind of behavioural tools are not restricted to childhood; they also surround us as adults. So speeding while driving could result in a fine and points on our license, and arriving late at work too often is likely to result in disciplinary action. We generally do not objet to these things. <strong><u>The reason is that, in the context of human behaviour and education, we instinctively recognise that learning the negative consequences of certain actions is necessary</strong></u>in order to maintain order and proper behaviour. Like it or not, understanding that certain behaviours would result in undesired consequences is a necessary part of our behaviour mechanism. 
<br><br>
<strong><u>Dogs are no different</strong></u> in this regard. <strong><u>Learning that certain behaviours result in unwanted consequences is crucial for proper development</strong></u>. Tragically, we have completely taken it away from dogs, because we love them so much that we do not wish to trigger in them <strong><u>any unpleasant emotions</strong></u>. Incredibly, we seem prepared to do it with children, but not with dogs. Taking a child's mobile phone as a punishment or forbidding the use of game consoles would no doubt cause negative emotions, but <strong><u>at times correcting behaviour is necessary</strong></u>. The same applies to dogs. <strong><u>Of course, this has absolutely nothing to do with physical discomfort</strong></u>, just as is the case with dogs. Dogs do need to be corrected, not just taught tricks, and I would be happy to teach you how to properly do this. <strong><u>You would not believe how quickly you can help your dog overcome behavioural issues and how effective the results would be</strong></u>. 
</p> 
  </div>
</div>

          <!-- Lax.js -->
<script src="https://cdn.jsdelivr.net/npm/lax.js" ></script>
    <script>
window.onload = function () {
    lax.init()

    // Add a driver that we use to control our animations
    lax.addDriver('scrollY', function () {
      return window.scrollY
    })

    // Add animation bindings to elements
    lax.addElements('.selector', {
      scrollY: {
        translateY: [
          [0,200],
          [0,-100]
        ],
      }
    })
  }    </script>
